<!doctype html>
<html>
	<head>
	<title>Post IT Example</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/views/layout/layout.css">
	</head>

	<body>
		<div id="header" class="shadow">
		</div>
		<div class="wall"></div>
		<div id="overlay">
		</div>
		<div id="lights" class="onetwothree">

			<div id="listText">

			</div>

			<div  class="frame">
				<div id="contents"></div>
			</div>

			<div id="hideaway">
			</div>
			<div id="footer">
				<div>
					Dappado.com has been built by <a href="http://twitter.com/simonmcmanus">@simonmcmanus</a> using Node.js, Express.js and Sizlate.
				</div>
			</div>

		</div>
	</body>
</html>